<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="highlife" class="br.unb.cic.lp.gol.regras.HighLife" />
	<bean id="conway" class="br.unb.cic.lp.gol.regras.Conway" />
	<bean id="livefreeordie" class="br.unb.cic.lp.gol.regras.LiveFreeOrDie" />
	<bean id="dayandnight" class="br.unb.cic.lp.gol.regras.DayAndNight" />
	<bean id="seeds" class="br.unb.cic.lp.gol.regras.Seeds" />
	<bean id="replicator" class="br.unb.cic.lp.gol.regras.Replicator" />
	
	<bean id="listaderegras" class="br.unb.cic.lp.gol.regras.ListaDeRegras" scope="prototype">
		<property name="EstrategiaDeDerivacao">	
			<list>	
				<ref bean="highlife" />
				<ref bean="conway" />
				<ref bean="livefreeordie" />
				<ref bean="dayandnight" />
				<ref bean="seeds" />
				<ref bean = "replicator"/>
			</list>
		</property>
	</bean>	
</beans>